.container-cond{
    margin-top: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    background-color: white;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.title-cond {
    text-align: center;
    margin-bottom: 45px;
}
.title-cond h2 {
    font-size: 34px;
    letter-spacing: -1px;
    margin-top: 0;
    color:#35456c;
    }
.title-cond h3 {
    font-family: "Open Sans, Helvetica, Arial, sans-serif";
    font-size: 30px;
    color:#193fa0;
    }
.title-cond p {
    font-size: 22px;
    font-weight: bold;
    font-family: "proxima_novalight", Arial, Helvetica, sans-serif;
    color:#d93139;
    line-height: 1.2;
    }      

.row-cond {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.home {
    display: flex;
    width: 40%;
    align-items: center;
    margin-top: 40px;
}

.home > div {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#tech-img {
    width: 75px;
    height: 75px;
}

@media only screen and (max-width: 800px){
    .home {
        width: 90%;
    }
}